<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-comments">
  <div class="row">
    <div class="col-md-12 animate-box fadeInUp animated">
      <% if post.comments.any? %>
      <ul id= "comment-list" class="comment-list">
        <% post.comments.each do |comment| %>
        <% if comment.persisted? %>
        <li class="comment" id= "comment-<%=comment.id%>">
          <div data-role="comment-content" class="comment-content">
            <div class="indicator"></div>
            <div class="avatar hovercard"></div>
            <%= link_to profile_path(comment.commenter.profile.slug), class: "avatar" do %>
            <%= image_tag comment.commenter.profile.avatar.thumb %>
            <div class="comment-body">
              <header>
                <span class= "comment-byline">
                  <span class="author publisher-anchor-color">
                    <%= comment.commenter.name%>
                  </span>
                </span>
                <span class="bullet time-created-bullet" aria-hidden="true">•</span>
                <span class="post-meta">
                 <%= comment.pretty_created_at %>
               </span>
             </header>
            <% end %>
             <div class="comment-body-inner">
              <div class="comment-message-container" data-role="message-container">
                <div class="publisher-anchor-color" data-role="comment-content">
                  <div class="comment-message" data-role="message" dir="auto">
                    <% if user_signed_in? && current_user == comment.commenter || current_user.try(:admin?) || current_user.try(:moderator?) %>
                    <p><%= best_in_place [post, comment], :content, :as => :textarea %></p>
                    <% else %>
                    <%= comment.content %>
                    
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <footer>
              <menu>      
                  <span class="text">
                    <% if user_signed_in? && current_user == comment.commenter || current_user.try(:admin?) || current_user.try(:moderator?) %>
                    <li class="edit">
                      <em>Click comment to edit</em>
                    </li>
                    <li class="bullet" aria-hidden="true">•</li>
                    <li class="delete">
                      <%= link_to "Delete",  [post, comment],  method: :delete %>
                    </li>
                    <% end %>
                  </span>
              </menu>
            </footer>
          </div>
        </div>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div> 
  <% end %> 
</div>