<div class="col-lg-12 col-lg-offset-0 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-left content-comments">
    <div class="row">
      <div class="col-md-12 animate-box fadeInUp animated">
        <% if post.comments.any? %>
        <ul id= "comment-list" class="comment-list">
          <% post.comments.each do |comment| %>
            <% if comment.persisted? %>
            <li class="comment" id= "comment-<%=comment.id%>">
              <div data-role="comment-content" class="comment-content">
                <div class="indicator"></div>
                  <div class="avatar hovercard"></div>
                <div class="comment-body">
                  <header>
                    <span class= "comment-byline">
                      <span class="author publisher-anchor-color">
                        <%= comment.commenter.name%>
                      </span>
                    </span>
                    <span class="bullet time-created-bullet" aria-hidden="true">•</span>
                     <span class="post-meta">
                       <%= comment.pretty_created_at %>
                     </span>
                  </header>
                  <div class="comment-body-inner">
                    <div class="comment-message-container" data-role="message-container">
                      <div class="publisher-anchor-color" data-role="comment-content">
                        <div class="comment-message" data-role="message" dir="auto">
                          <p><%= comment.content %></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <footer>
                    <menu>
                      <li>
                        <span class="text">
                          <li class="edit">
                            <%= link_to "Edit", edit_post_comment_path(post, comment) %>
                          </li>
                            <li class="bullet" aria-hidden="true">•</li>
                          <li class="delete">
                            <%= link_to "Delete",  [post, comment],  method: :delete %>
                          </li>
                        </span>
                      </li>
                    </menu>
                  </footer>
                </div>
              </div>
            </li>
            <% end %>
          <% end %>
          </ul>
        <% end %>
     </div>  
    </div>      
  </div>