<div class="container-fluid">
      <div class="row fh5co-post-entry single-entry">
      <article class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-12 col-xs-offset-0">
        <figure class="animate-box">
          <h2>Sign Up</h2>
          <%= form_for @user, url: wizard_path do |f| %>
          <div class="field">
            <%= f.label :name, "First Name" %><br>
            <%= f.text_field :name %></p>
          </div>
          
          <div class="field">
            <%= f.label :username%>
            <em>(6 characters min)</em><br>
            <%= f.text_field :username %></p>
          </div>
            <%= f.submit "Submit", class: "btn"%>
          <% end %> 
        </figure>
      </article>
    </div>
  
</div>