<%= render partial: "posts/divstyle" %>

<h3>Post Art Media</h3>
<%= link_to "All Posts", posts_path %>

<%= render partial: "index_sortoptions" %>
<%= render partial: "index", locals: {art_media: @art_media} %>

<%= render partial: "posts/enddivstyle" %>