<%= render partial: "divstyle" %>

  <h3>Posts: Newest to Oldest</h3>
  <%= link_to "All Posts", posts_path %>
  
  <%= render partial: "post_sortoptions" %>

<table class = "table">
   
   <thead>
      <tr>
         <th>Title</th>
         <th>Date Posted</th>
      </tr>
   </thead>
   
   <tbody>
    <% @posts.sort_by_date_desc.each do |post| %>   
      <tr>
         <td><%= link_to post.title, post_path(post) %></td>
         <td><%= post.pretty_created_at %></td>
      </tr>
    <% end %>
   </tbody>
  
</table>  

<%= render partial: "enddivstyle" %>