<%= render partial: "divstyle" %>

          <h1>All Posts</h1>

          <%= render partial: "index_sortoptions" %>

          <% @posts.each do |post| %>
            <%= link_to post.title, post_path(post) %> | <%= post.all_categories %><br>
          <% end %>

<%= render partial: "enddivstyle" %>
